<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root
{

    /*===== MAIN COLOR =====*/
    --first-color: #0e2431;
    --second-color: #4ecef5;
    --third-color: #777;

    /*===== HOVER COLOR =====*/
    --hover-color: #5177f3;

    /*===== BACKGROUND COLOR =====*/
    --body-bg-color: #fefefe;
    --card-bg-color: #fff;
    --modal-bg-color: #fff;
    --bg-transparent-color: rgba(0,0,0, 0.1);
    --transparent-color-01: rgba(0,0,0, 0.1);
    --transparent-color-02: rgba(106, 89, 209, 0.1);
    --line-color: #d7d7d7;

    /*===== COLOR FILTER =====*/
    --color-filter: invert(1);

    /*===== BOX SHADOW =====*/
    --box-shadow: 0px 0px 20px rgba(0 0 0 / 10%);

    /*===== FONT SIZE =====*/
    --small-font-size: 0.9em;
    --normal-font-size: 1em;

    /*===== SCROLL BAR COLORS =====*/
    --scroll-bar-color: #c5cadf;
    --scroll-thumb-color: #70768a;
    --scroll-thum-hover-color: #454f6b;

}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html
{
    scroll-behavior: smooth;
}
body
{
    color: var(--first-color);
    background: var(--body-bg-color);
    margin: 2rem 0 0 0;
    transition: .5 ease;
}
a {
    text-decoration: none;
}
li
{
    list-style: none;
}

/* == SCROLL TO TOP BUTTON == */
/* == LIGTH/DARK THEME BUTTON == */
/* == SCROLL BAR == */

::-webkit-scrollbar {
    width: 10px;
    background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb-color);
    border-radius: 2em;
}

::-webkit-scroll-thumb:hover{
    background: var(--scroll-thum-hover-color);
}

/* ===== HEADER ===== */

header{
    z-index: 999999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(20px);
    transition: .6s ease;
}

/*STICKY FAZ O CABEÇALHO TRAVAR MESMO A PAGINA DESCENDO */
header.sticky {
    background: rgba(255,255,255, 0.1);
    box-shadow: var(--box-shadow);
}
.nav-bar
{
    position: relative;
    height: calc(4rem+1rem);
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    transition: .6 ease;
}

header.sticky .nav-bar {
    height: calc(2.5rem + 1rem);
}

.nav-bar .logo {
    color: var(--first-color);
    font-size: 1.3em;
    font-weight: 600;
}
.nav-items a {
    color: var(--first-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
}

.nav-items a:not(:last-child) {
    margin-right: 50px;
}
.nav-items a:hover {
    color: var(--second-color);
}

/* ===== HOME SECTION ===== */
.home{
    position: relative;
    max-width: 1250px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 2rem;
    flex-direction: column;

}

.home .home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.home-container .media-icons {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}
.home-container .media-icons a {
    color: var(--second-color);
    font-size: 1.5em;
    margin: 10px 0;
}

.home-container .media-icons a:hover{
    color: var(--hover-color);
}

.home-container .info h2{
    font-size: 4em;
    font-weight: 600;
    line-height: 70px;
}

.home-container .info h3{
    color: var(--third-color);
    font-feature-settings: 1.3em;
    font-weight: 600;
    line-height: 50px;
}

.home-container .info p {
    color: var(--third-color);
    font-size: var(--normal-font-size);
    max-width: 350px;
}

.btn{
    background: var(--second-color);
    color: #fff;
    font-size: var(--normal-font-size);
    font-weight: 500;
    display: inline-block;
    margin-top: 25px;
    padding: 20px 30px;
    letter-spacing: 1px;
    border-radius: 10px;
}
.btn:hover {
    background: var(--hover-color);
}

.home-container .home-img {
    position: relative
}

.home-container .home-img img {
    width: 90%;
    transform: translate(0,0);
}

.home .scroll-down {
    color: var(--first-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
    margin-top: 20px;
}

.home .scroll-down i {
    color: var(--second-color);
    font-size: 1.2em;
    animation: arrow-down ease 2s infinite;
}

@keyframes arrow-down {
    0% {
        transform: translateY(0);
    }
    30%{
        transform: translateY(10px);
    }
}


/* ==== ESTILOS COMUNS EM TODAS SESSÕES ==== */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    position: relative;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 2rem 2rem;
}

.sub-section {
    position: relative;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

.section-title-01 {
    font-size: 4.5em;
    font-weight: 800;
    margin-bottom: 2rem;
    background: linear-gradient(to top,
    transparent 0%, 
    var(--first-color) 70%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .1;
}

.section-title-02 {
    font-size: 2.5em;
    font-weight: 700;
    transform: translateY(-80px);
}

.section-title-02:before {
    content: '';
    position: absolute;
    width: 70px;
    height: 5px;
    right: 10;
    bottom: 0;
    background: var(--second-color);
}

.container{
    position: relative;
    flex-direction: column;
}

/* ==== SOBRE ===== */

.about .container .content {
    column-gap: 40px;
    width: 100%;
}

.about-img{
    position: relative;
}

.about-img img {
    max-width: 100%;
    min-width: 100%;
    border-radius: 10px;
}

.about-info .description h3 {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;
}

.about-info .description h4{
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 10px;
}
.about-info .description h4 span{
    color: var(--second-color);
}
.about-info .description p {
    color: var(--third-color);
    font-size: var(--normal-font-size);
    margin-bottom: 15px;
    padding-bottom: 25px;
    border-bottom: 2px solid var(--line-color);
}
.about-info .professional-list{
    display: flex;
    column-gap: 30px;
}
=======
*
{
    margin: 0;  /*Remover as margens padrão do navegador*/
    padding: 0; /*Remove os preenchimentos padrão do navegador*/
    box-sizing: border-box; /*Garante que bordas não aumentem o tamanho dos elementos */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url('https://images.unsplash.com/photo-1550745165-9bc0b252726f?q=80&w=2070&auto=format&fit=crop');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #000;
    
    

}

/* Estilizar a barra de navegação */
.navbar
{
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1)
}
.navbar ul {
    display: flex;
    list-style: none;
    margin: 0; /*remove as margens da lista */
    padding: 0; /*remove o preenchimento interno */
}

.navbar ul li a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    border-radius: 5px;
    transition: 0.4s; 
}
.navbar ul li a:hover{
    background-color: white; /*adiciona um fundo branco*/
    color: #2c3e50; /* adiciona uma cor diferente ao texto*/
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    /*0px -> move na horizontal
    4px -> move na vertical
    10px -> desfoque de 10px na sombra
    rgba(0,0,0,0.3) adiciona a cor preta e uma transparência 
        de 30%(0.3)
    */
    transform: translateY(-2px); /*move a box 2px para cima */
}


/* Container que limita o tamanho do Carrossel */
.slider {
    margin: 20px auto; /*Centraliza na tela e da margem no topo */
    width: 800px; /*Largura fixa do carrossel */
    height: 400px; /*Altura fixa do carrossel */
    overflow: hidden; /*Esconde o que estiver fora da caixa (as outras fotos)*/
    border-radius: 10px; /* Cantos arredondados */
    box-shadow: 0 10px 20px rgba(0,0,0,0.3); /*Sombra para dar profundidade */
}

/*Div que contem as imagens alinhadas */
.slider-content
{
    width: 400%;
    height: 100%; /*Ocupa 100% da altura do objeto "PAI" */
    display: flex; /*Coloca as imagens uma do lado da outra */
}

/* Esconde os botões originais */
.slider-content input
{
    display: none; /*Esconde os botões RADIO */
}
/* Estilo de cada caixa de imagem */
.slide-box
{
    width: 25%; /*Cada foto ocupa 25% (100% divido por 4) */
    transition: 0.6s; /* Tempo de animação de deslize entre as fotos */
}

/* Garante que a imagem cubra todo o espaço sem distorcer */
.slide-box img
{
    width: 800px; /* Largura fixa para manter o padrão */
    height: 400px; /* Altura fixa para manter o padrão */
    object-fit: cover; /*Corta a imagem para preencher o espaço sem achatar */
}

/* LOGICA DE MOVIMENTO: AJUSTADO PARA 4 IMAGENS */
/* Imagem 1: Margem 0 */
#radio1:checked ~ .first { margin-left: 0; }

/* Imagem 2: Pula a primeira (25%) */
#radio2:checked ~ .first { margin-left: -25%; }

/* Imagem 3: pula as duas primeiras (50%) */
#radio3:checked ~ .first { margin-left: -50%; }

/* Imagem 4: pula as três primeiras (75%) */
#radio4:checked ~ .first { margin-left: -75%; }

/* ESTILO DOS BOTÕES MANUAIS (BOLINHAS) */
.nav-manual 
{
    position: absolute; /* POSICIONAMENTO FIXO EM RELAÇÃO AO SLIDER */
    width: 800px; /* Mesma largura do slider */
    margin-top: -40px; /* Joga as bolinhas pra dentro da imagem */
    display: flex;
    justify-content: center; /* Centraliza as bolinhas horizontalmente */
}
.manual-btn 
{
    border: 2px solid white; /* Borda branca para visibilidade */
    padding: 5px; /*Tamanho da bolinha */
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px; /*Espaçamento entre as bolinhas */
    transition: 0.3s; /*Suaviza a mudança de cor no hover */
}
.manual-btn:hover{  
    background-color: white;
}

/* ESTILIZAÇÃO DO RODAPÉ DA PÁGINA */
.rodape-principal{
    background-color: #2c3e50;
    color: white;
    padding: 40px 0 20px 0;
    margin-top: 50px; /*afastar da galeria */
}
.container-rodape{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap; /*FAZ OS ITENS PULAREM LINHAS EM TELAS PEQUENAS */
    max-width: 1200px;
    margin: 0 auto; /*centralizar o container na tela */
}
.links-sociais a
{
    color: white;
    text-decoration: none;
    margin: 0 15px; /*ESPAÇAMENTO ENTRE OS LINKS */
    font-weight: bold;
    transition: 0.3s;
}
.links-sociais a:hover{
    color: #3498db;
    text-shadow: 0 0 5px(255,255,255, 0.2);
}
.rodape-inferior{
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1); /*LINHA DIVISÓRIA */
    margin-top: 30px;
    padding-top: 20px;
    font-size: 12px;
    opacity: 0.6;
}
>>>>>>> 63244e285ea98c0b6a3db37c5a1ba7bd65177c4b
